---
layout: default
---

<div id="home">
  <h2><i class="fa fa-bookmark"></i> Blog Yazıları</h2>
  <a href="/search/">
  <i class="fa fa-search fa-3x"></i>
  </a>
  <ul id="blog-posts" class="posts">
    {% for post in paginator.posts limit:20 %}
      <li><span>{{ post.date | date_to_string }} &raquo;</span><a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>
</div>

<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="previous">Önceki Sayfa</a>
  {% else %}
    <span class="previous">Önceki Sayfa</span>
  {% endif %}
  <span class="page_number ">Toplam: {{ paginator.total_pages }} Sayfa İçinden {{ paginator.page }}. Sayfa Gösteriliyor</span>
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="next">Sonraki Sayfa</a>
  {% else %}
    <span class="next ">Sonraki Sayfa</span>
  {% endif %}
</div>
