<div class="ajaxloadcomment"><button class="show-comments">Yorumları yükle</button></div>
<div itemprop="comment" id="disqus_thread"></div>
<script defer>
$(document).ready(function() {
    $('.show-comments').on('click', function(){
          var disqus_shortname = 'mertcanofficial';

          $.ajax({
                  type: "GET",
                  url: "//" + disqus_shortname + ".disqus.com/embed.js",
                  dataType: "script",
                  cache: true
          });
          $(this).fadeOut();
    });
});
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
