<div class="disclaimer">
  {% if site.data.theme.show_disclaimer %}
  <p>
    Bu sitedeki gönderiler bana aittir ve iş verenime ait pozisyonlar,
    stratejiler veya görüşler temsil edilmemektedir.<br>
        <a href="/ders-notlari/">Ders Notları</a>
        <span> | </span><a href="/gizlilik-politikasi/">Gizlilik Politikası</a>
        <span> | </span><a href="/kullanim-kosullari/">Kullanım Koşulları</a>
        <span> | </span><a href="/hakkimda/">Hakkımda</a>
        <span> | </span><a href="/iletisim/">İletişim</a>
  </p>
  {% endif %}
  <p>
   <a href="/hosted/">Hosted By </a> © {{ site.data.theme.name }}, 2016 &mdash; Linux Hacısı
  </p>
</div>
