<div class="menuM" style="display:none;">
    <ul class="topnav">
        <li><a class="active" href="https://mertcangokgoz.com/">Anasayfa</a></li>
        <li><a href="https://mertcangokgoz.com/category/analiz/">Analiz</a></li>
        <li><a href="https://mertcangokgoz.com/category/genel/">Genel</a></li>
        <li><a href="https://mertcangokgoz.com/category/guvenlik/">Güvenlik</a></li>
        <li><a href="https://mertcangokgoz.com/category/linux/">Linux</a></li>
        <li><a href="https://mertcangokgoz.com/category/nginx/">Nginx</a></li>
        <li><a href="https://mertcangokgoz.com/category/programlama/">Programlama</a></li>
        <li class="icon">
            <a href="javascript:void(0);" style="font-size:15px;" onclick="myFunction()">☰</a>
        </li>
    </ul>
</div>

<script>
    function myFunction() {
        document.getElementsByClassName("topnav")[0].classList.toggle("responsive");
    }
</script>
