<a href="javascript:" onclick="$('#seo-makale').toggle('medium');"><h1 class="seo" style="text-align: center;">Sunucu yönetimi hakkında bilgiler</h1></a>
<div id="seo-makale" style="display:none;">
  <h2 style="font-weight:bold;">Sunucu yönetimi nedir ?</h2>
  <p>
    Sunucu yönetimi, sunucu üzerinde çalışan yazılımların, servislerin sürekli olarak kontrol edilmesi sorun çıktığında gerekli müdahalenin yapılması güncellemelerin takip edilmesi ve sistem yönetimi işlemlerinin gerçekleştirilmesi hizmetidir.
  </p>
  <h2 style="font-weight:bold;">Özgür yazılım nedir ?</h2>
  <p>
    Özgür yazılım, kullanıcısına çalıştırma kopyalama, dağıtma, inceleme, değiştirme ve geliştirme imkanı tanıyan bir yazılım türüdür.Özgür yazılım ile anlatılmak istenen özgürlük yazılımın kullanım hakları ile ilgilidir, ekonomik boyutu ile ilgili değildir.
  </p>
  <h2 style="font-weight:bold;">Linux sunucu hizmeti nedir ?</h2>
  <p>
    Küçük, orta ve büyük ölçekli işletmelerin her türlü sunucu ihtiyacını karşılayabilecek ücretsiz olarak temin edilebilen bir işletim sistemi ve buna bağlı olarak verilen hizmetlerin bütünüdür.
  </p>
</div>
