<nav class="nav">
  <a href="/">
    <img src="/YeniResimBro.jpg" id="gravatar" alt="Mertcan GÖKGÖZ" width="200" height="200"/>
  </a>
  <h3><a href="/">{{ site.data.theme.name }}</a></h3>
  <div id="bio">
    <p>
        Kategoriler:<br>

        {% category_list %}
        <br>
        Arkadaşlar:<br>
        <a href="https://oztaser.com/" target="_blank" rel="nofollow">Adil ÖZTAŞER</a><br>
        <a href="https://aligoren.com/" target="_blank" rel="nofollow">Ali GÖREN</a><br>
        <a href="https://www.ceyhanmolla.com/" target="_blank" rel="nofollow">Ceyhan MOLLA</a><br>
        <a href="https://0x6.pw/" target="_blank" rel="nofollow">Enes ERGÜN</a><br>
        <a href="http://furkankalkan.com/" target="_blank" rel="nofollow">Furkan KALKAN</a><br>
        <a href="http://www.hamdicatal.com/" target="_blank" rel="nofollow">Hamdi ÇATAL</a><br>
        <a href="https://onur.im/" target="_blank" rel="nofollow">Onur ASLAN</a><br>
        <a href="http://www.omeripek.com.tr" target="_blank" rel="nofollow">Ömer IPEK</a><br>
        <a href="http://yasinyaman.org/" target="_blank" rel="nofollow">Yasin YAMAN</a><br>
        <a href="https://yapaygerizeka.github.io/" target="_blank" rel="nofollow">Yapay Geri Zekâ</a><br>
    </p>
  </div>
  <div id="social">
    {% include social.html %}
  </div>
</nav>
