<nav class="nav">
  <a href="/">
    <img src="/MertcanGokgoz.jpg" width="210" alt="Mertcan Gökgöz" id="logo" />
  </a>
  <h3><a href="/">{{ site.data.theme.name }}</a></h3>
  <div id="bio">
    <p>
      <i class="fa fa-map-marker"> root@0x2e88ce4: ~#</i><br><br>
        Kategoriler:<br>
        <a href="https://mertcangokgoz.com/category/analiz/">Analiz</a><br>
        <a href="https://mertcangokgoz.com/category/genel/">Genel</a><br>
        <a href="https://mertcangokgoz.com/category/guvenlik/">Güvenlik</a><br>
        <a href="https://mertcangokgoz.com/category/linux/">Linux</a><br>
        <a href="https://mertcangokgoz.com/category/nginx/">Nginx</a><br>
        <a href="https://mertcangokgoz.com/category/programlama/">Programlama</a><br><br>
        Arkadaşlar:<br>
        <a href="https://yapaygerizeka.github.io/" target="_blank">Yapay Geri Zekâ</a><br>
        <a href="https://onur.im/" target="_blank">Onur ASLAN</a><br>
        <a href="http://www.omeripek.com.tr" target="_blank">Ömer IPEK</a><br>
        <a href="https://www.ceyhanmolla.com/" target="_blank">Ceyhan MOLLA</a><br>
        <a href="http://furkankalkan.com/" target="_blank">Furkan KALKAN</a><br>
    </p>
  </div>
  <div id="social">
    {% include social.html %}
  </div>
</nav>
