<nav class="nav">
  <h3><a href="/">{{ site.data.theme.name }}</a></h3>
  <div id="bio">
    <p>
        Kategoriler:<br>

        {% category_list %}
        <br>
        Arkadaşlar:<br>
        <a href="https://oztaser.com/" target="_blank">Adil ÖZTAŞER</a><br>
        <a href="https://www.ceyhanmolla.com/" target="_blank">Ceyhan MOLLA</a><br>
        <a href="https://0x6.pw/" target="_blank">Enes ERGÜN</a><br>
        <a href="http://furkankalkan.com/" target="_blank">Furkan KALKAN</a><br>
        <a href="https://onur.im/" target="_blank">Onur ASLAN</a><br>
        <a href="http://www.omeripek.com.tr" target="_blank">Ömer IPEK</a><br>
        <a href="https://yapaygerizeka.github.io/" target="_blank">Yapay Geri Zekâ</a><br>
    </p>
  </div>
  <div id="social">
    {% include social.html %}
  </div>
</nav>
