@media only print {
  body {
    border-top: none;
    background: white;
    font-family: Georgia, ‘Times New Roman’, serif;
  }
  * {
    color: #000!important;
    text-shadow: none!important;
    background: transparent!important;
    box-shadow: none!important;
		border-bottom: none;
  }
  .content {
    background: transparent;
    border-left: none;
    width: 100%;
    margin: 0;
    padding: 0;
    color: black;
    float: nones!important;
  }

  pre, blockquote {
    page-break-inside: avoid;
  }

  p{
    font-size: 12pt;
  }

  #nav, #sidebar, #paylasim, #related, #disqus_thread{
    display: none;
  }

  .sidebar, .disclaimer, .meta{
    display: none;
  }

  hr {
    display: none;
  }

  a,a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  .ir a:after,a[href^="javascript:"]:after,a[href^="#"]:after {
    content: "";
  }

  img {
    max-width: 100%!important;
  }
}
