* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  font-size: 18px;
  background-color: white;
  color: #222222;
  line-height: 24px;
  margin: 0;
  border-top: 7px solid {{ site.data.theme.highlight_color }};
}

h1, h2, h3, h4, h5, h6 {
  color: #181818;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 600;
}

h1.title {
  font-weight: 800;
}

h1 {
  font-size: 32px;
  line-height: 40px;
}

h2 {
  font-size: 24px;
  line-height: 30px;
}

h3 {
  font-size: 21px;
  line-height: 24px;
  margin: 1em 0;
}

ul {
  margin: 1em 0;
  list-style: disc;
}

a {
  color: {{ site.data.theme.highlight_color }};
  text-decoration: none;
}

a:hover {
  color: {{ site.data.theme.highlight_color }};
  text-decoration: underline;
}

a:visited {
  color: {{ site.data.theme.highlight_color }};
}

table {
  font-size: inherit;
  font: 100%;
  border-collapse: collapse;
  width: 100%;
}

th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

thead{
  color: #039;
  font-weight: bold;
}

tbody tr:nth-child(odd){
  background-color: #F9F9F9 !important;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: auto;
}

img.emoji {
  display: inline;
}

ul.posts {
  margin-top: 0;
  list-style-type: none;
  margin-bottom: 10px;
  width: 100%;
}

ul.posts li {
  line-height: 22px;
  font-size: 18px;
  margin-bottom: 0px;
  padding-bottom: 6px;
  width: 100%;
}

ul.posts span {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #aaa;
  font-size:16px;
  width: auto!important;
  display: block;
  float:left;
  padding-right:3px;
}

.meta {
  color: #aaa;
  margin: 0 0 10px 0;
}

.site .footer {
  font-size: 80%;
  color: #666;
  border-top: 4px solid #eee;
  overflow: hidden;
}

nav h1, nav h3 {
  text-align: center;
}

#bio {
  margin-top: 10px;
  margin-bottom: 5px;
  border: dotted #ddd;
  border-width: 1px 0;
  padding-top: 10px;
}

#social {
  margin-bottom: 10px;
  font-size: 13px;
}

#post pre {
  border: 1px solid #ddd;
  /*background-color: #eef;*/
  padding: 0 .4em;
  padding-bottom: 15px;
  padding-top: 15px;
  margin-bottom: 15px !important;
}

#post ul,
#post ol {
  margin-left: 1.35em;
}

#post code {
  border: 1px solid #ddd;
  /*background-color: #eef;*/
  font-size: 85%;
  padding: 0 .2em;
}

#post pre code {
  border: none;
}

#post img {
  max-width: 100%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#post img.emoji {
    display: inline;
}

.sidebar {
  padding-top: 25px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.sidebar p {
  font-weight: 200;
}

.sidebar a {
  font-weight: 600;
}

.content {
  font: 400 16px/22px "open sans", sans-serif;
  border-left: 1px solid #DDD;
  padding-left: 40px;
  padding-top: 25px;
  min-height: 400px;
}

.footer {
  width: 100%;
}

.footer {
  font-size: 80%;
  color: #666;
  border-top: 4px solid #EEE;
  overflow: hidden;
}

.aside {
  font-size: 75%;
  color: #666;
}

#home h3 {
  color: {{ site.data.theme.highlight_color }};
}

#logo, #gravatar {
  margin-bottom: 25px;
}

#gravatar {
  width: 180px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

#stalker {
  display: inline-block;
  height: 18px;
  margin-left: 5px;
}

#stalker a {
  width: 29px;
  overflow: hidden;
  float: left;
}

#stalker i {
  font-size: 28px;
  margin-right: 5px;
}

#stalker a:hover {
  text-decoration: none;
  color: {{ site.data.theme.highlight_color }};
}

i.fa-hn {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: center;
  font-size: 18px !important;
  position: relative;
  color: white;
}

.home {
  font-size: 24px;
  float: right;
  margin-left: 15px;
  color: #AAA;
}

.home:hover {
  text-decoration: none;
}

.disclaimer p {
  margin-top: 5px;
  font-size: 16px;
  text-align: center;
}

.footnotes {
  font-size: 14px;
  font-style: italic;
}

.icon-overlay {
  font-size: 16px !important;
  position: relative;
  bottom: 27px;
  left: 5px;
  color: white;
}

.share-button {
    margin: 0px;
    color: rgba(43, 177, 243, 0.77);
    border-radius: 12px 0px 0px 0px;
    padding: 2px 5px 2px 5px;
}

.caption {
  margin: 0 auto;
  text-align: center;
  font-size: smaller;
  padding-bottom: 10px
}

sup {
  vertical-align: super;
  font-size: smaller;
}

.seo{
  border:1px solid #000000;
  display: block;
  font-size: 16px;
  text-decoration: none;
  background-color: #e2e2e2;
}

.pagination {
    text-align: center;
}

.menuM {
    display: none;
}

.sMob {
    display: none;
}

#up {
    position: fixed;
    z-index: 999;
    right: 20px;
    bottom: 15px;
    padding: 10px;
    cursor: pointer;
    display: none
}

ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #3498db;
}

ul.topnav li {float: left;}

ul.topnav li a {
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
}

ul.topnav li a:hover {background-color: #3185C1;}

ul.topnav li.icon {display: none;}

@media only screen and (max-width: 479px) {

  .menuM {
        display: block!important;
    }
  .noprint{display: none;}

}

@media screen and (max-width:768px) {


    .sMob {
        display: block!important;
    }

    .noprint{display: none;}

    ul.topnav li:not(:first-child) {display: none;}
    ul.topnav li.icon {
        float: right;
        display: inline-block;
    }

    ul.topnav.responsive {position: relative;}
    ul.topnav.responsive li.icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    ul.topnav.responsive li {
        float: none;
        display: inline;
    }
    ul.topnav.responsive li a {
        display: block;
        text-align: left;
    }
}
