---
layout: defaultcategory
---
{% include mobile.html %}

<p class="meta">
  {{ page.date | date: "%B %d, %Y" }}
  <a href="/">
    <i class="home fa fa-home fa-2x"></i>
  </a>
  <a href="/search/">
  <i class="home fa fa-search fa-2x"></i>
  </a>
</p>

<h1 class="title">{{ page.title }}</h1>

{% if page.paginator %}
{% assign paginator = page.paginator %}
{% endif %}
<ul id="blog-posts" class="posts">
{% for post in paginator.posts limit:22 %}
    <li><span>{{ post.date | date: "%d/%m/%Y" }} &raquo;</span><a href="{{ post.url }}">{{ post.title }}</a></li>
{% endfor %}
</ul>

<div class="pagination">
  {% if paginator.previous_page %}
    <a href="page/{{ paginator.previous_page }}" class="previous">Önceki Sayfa</a>
  {% else %}
    <span class="previous">Önceki Sayfa</span>
  {% endif %}
  <span class="page_number "> {{ paginator.total_pages }} Sayfa İçinden {{ paginator.page }}. Sayfa Gösteriliyor</span>
  {% if paginator.next_page %}
    <a href="page/{{ paginator.next_page }}" class="next">Sonraki Sayfa</a>
  {% else %}
    <span class="next ">Sonraki Sayfa</span>
  {% endif %}
</div>
